{% extends 'shop/index.html' %}
{% load static %}
 {% block title %}<title>Home three || Vonia</title>{% endblock %}


{% block content %}
		<!-- header-end -->
		<!-- shop-2-area-start -->
		<div class="shop-2-area">
			<div class="container">
				<div class="row">
					<div class="left-column col-sm-3">
						<div class="left-column-block">
							<h1>Catalog</h1>
							<div class="block-content">
								<div class="content-box">
									<h3 class="content-box-heading">
										Categories
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Bags (13)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Tops & Tees (13)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Lingerie (13)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Availability
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">In stock (13)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Condition
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">New (13)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Manufacturer
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Fashion Manufacturer (13)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">price</h3>
									<div class="info_widget">
										<div class="price_filter">
											<div id="slider-range"></div>
												<div class="price_slider_amount">
												<input type="text" id="amount" name="price"  placeholder="Add Your Price" />
												<input type="submit"  value="Range"/>  
											</div>
										</div>
									</div>	
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">Size</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">S (13)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">L (13)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">M (13)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Color
									</h3>
									<ul>
										<li>
											<input class="color-option Beige" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Beige (2)</a>
											</label>
										</li>
										<li>
											<input class="color-option white" type="checkbox">
											<label class="check-label">
												<a href="shop.html">White (4)</a>
											</label>
										</li>
										<li>
											<input class="color-option black" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Black (4)</a>
											</label>
										</li>
										<li>
											<input class="color-option orange" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Orange (5)</a>
											</label>
										</li>
										<li>
											<input class="color-option blue" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Blue (3)</a>
											</label>
										</li>
										<li>
											<input class="color-option green" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Green (2)</a>
											</label>
										</li>
										<li>
											<input class="color-option yellow" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Yellow (6)</a>
											</label>
										</li>
										<li>
											<input class="color-option pink" type="checkbox">
											<label class="check-label">
												<a href="shop.html">Pink (2)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Compositions
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Cotton (5)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Polyester (4)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Viscose (4)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Styles
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Casual (5)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html"> Dressy (2)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html"> Girly (6)</a>
											</label>
										</li>
									</ul>
								</div>
								<div class="content-box">
									<h3 class="content-box-heading">
										Properties
									</h3>
									<ul>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Colorful Dress (2)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Maxi Dress (2)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Midi Dress (2)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html">Short Dress (4)</a>
											</label>
										</li>
										<li>
											<span class="checkit">
												<input class="checkbox" type="checkbox">
											</span>
											<label class="check-label">
												<a href="shop.html"> Short Sleeve (3) </a>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="left-column-block left-col-mar">
							<h1>Tags</h1>
							<div class="tags">
								<a href="shop.html">new</a>
								<a href="shop.html">fashion</a>
								
								<a href="shop.html">sale</a>
							
								<a href="shop.html">lighting</a>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						
						<div class="shop-heading">
							<!-- <h2>bedding</h2> -->
							<span>There are 13 products.</span>
						</div>
						<div class="clearfix"></div>
						<div class="category-products">
							
							<div class="shop-category-product">
								<div class="row">
									<div class="category-product">
										<!-- Tab panes -->
										
										<div class="tab-content">

											<div role="tabpanel" class="tab-pane active fade in" id="gried_view">
												{% for p in producent %}
												<div class="col-md-4 col-sm-6 col-xs-12">
													<div class="single-product">
														<div class="product-img">
															<a href="shop.html">
																{% if p.image %}
																<img src="{{ p.image.url }}" alt="" />
																{% endif %}
															</a>
															<span class="new">{{  p.new }}</span>
															<span class="sale">{{  p.sale }}</span>
															<div class="product-action">
																<div class="add-to-links">
																	<ul>
																		<li>
																			<a href="#" title="Add to cart">
																				<i class="fa fa-shopping-cart"></i>
																			</a>
																		</li>
																		<li>
																			<a href="{% url 'shop:wishlist' %}" title="Add to wishlist">
																				<i class="fa fa-heart" aria-hidden="true"></i>
																			</a>
																		</li>
																		<li>
																			<a href="shop.html" title="Add to compare">
																				<i class="fa fa-bar-chart" aria-hidden="true"></i>
																			</a>
																		</li>
																	</ul>
																	<div class="quick-view">
																		<a target="_blank" href="{% url 'shop:detail' %}" data-toggle="modal" data-target="#myModal" title="Quick view">
																			<span>Quick view</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h5 class="product-name">
																<a href="shop.html" title="Printed Chiffon Dress">{{ p.name }}</a>
															</h5>
															<div class="reviews">
																<div class="star-content clearfix">
																	<span class="star star-on"></span>
																	<span class="star star-on"></span>
																	<span class="star star-on"></span>
																	<span class="star star-on"></span>
																	<span class="star star-on"></span>
																</div>
																<div class="comment">
																	<span class="reviewcount">1</span>
																	 Review(s)
																</div>
															</div>
															<div class="price-box">
																<span class="price">£{{ p.price }}</span>
																<span class="old-price"> £{{ p.price2 }}</span>
															</div>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="shop-pagination">
							<div class="row">
								<div class="col-md-6 col-xs-6">
									<div class="product-count">
										Showing 1 - 12 of 13 items
									</div>
									<ul class="pagination">
										<li class="pagination-previous-bottom">
											<a href="shop.html">
												<i class="fa fa-angle-left"></i>
											</a>
										</li>
										<li class="active current">
											<a href="shop.html">
												1
											</a>
										</li>
										
										<li class="pagination-next-bottom">
											<a href="shop.html">
												<i class="fa fa-angle-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--=====shop-2-area-end=====-->
		<!--===== brand-area-start =====-->
		
		<!-- brand-area-end -->
		<!-- footer-start -->
{% endblock %}