{% extends 'shop/index.html' %}
{% load static %}

 {% block title %}<title>Shopping-Cart</title>{% endblock %}

{% block content %}
		<div class="cart-main-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="entry-header">
							<h1 class="entry-title">Shopping cart</h1>
						</div>
						<div class="table-content">
							<form action="shopping-cart.html">
								<div class="table-content table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-thumbnail">Image</th>
												<th class="product-name">Product</th>
												<th class="product-price">Price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-subtotal">Total</th>
												<th class="product-remove">Remove</th>
											</tr>
										</thead>
										<tbody>
										{% for item in cart %}
                                        	{% with product=item.product %}
											<tr>
												<td class="product-thumbnail">
													<a href="shopping-cart.html">
														<img src="{{ product.image.url }}" alt="" />
													</a>
												</td>
												<td class="product-name">
													<a href="shopping-cart.html">{{ product.name }}</a>
												</td>
												<td class="product-price">
													<span class="amount">{{ product.price }}</span>
												</td>
												<td class="product-quantity">
													<input type="number" value="1" />
												</td>
												<td class="product-subtotal">
													{{ product.price }}
												</td>
												<td class="product-remove">
													<a href="{% url 'cart:cart_remove' product.id %}">
													  remove
													</a>
												</td>
											</tr>
											{% endwith %}
										{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="row">
									
									<div class="col-md-4">
										<div class="cart_totals">
											<h2>Cart Totals</h2>
											<table>
												<tbody>
													<tr class="cart-subtotal">
														<th>Subtotal</th>
														<td>
															<span class="amount">£215.00</span>
														</td>
													</tr>
													<tr class="shipping">
														<th>Shipping</th>
														<td>
															<ul id="shipping_method">
																<li>
																	<input type="radio" />
																	<label>
																		Flat Rate:
																		<span class="amount">£7.00</span>
																	</label>
																</li>
																<li>
																	<input type="radio" />
																	<label>
																		 Free Shipping
																	</label>
																</li>
															</ul>
															<p>
																<a class="shipping-calculator-button" href="shopping-cart.html">Calculate Shipping</a>
															</p>
														</td>
													</tr>
													<tr class="order-total">
														<th>Total</th>
														<td>
															<strong>
																<span class="amount">£215.00</span>
															</strong>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="wc-proceed-to-checkout">
												<a href="shopping-cart.html">Proceed to Checkout</a>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- shopping-cart-end -->
		
		<!-- footer-start -->
{% endblock %}