{% extends 'shop/index.html' %}
{% load static %}
 {% block title %}<title>Home three || Vonia</title>{% endblock %}


{% block content %}
		<div class="my-account-area">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<form action="my-account.html">
							<div class="form-fields">
								<h2>Login</h2>
								<p>
									<label>Username or email address</label>
									<span class="required">*</span>
									<input type="text" />
								</p>
								<p>
									<label>password</label>
									<span class="required">*</span>
									<input type="text" />
								</p>
							</div>
							<div class="form-action">
								<p class="lost-password">
									<a href="my-account.html">Lost your password?</a>
								</p>
								<input type="submit" value="Login" />
								<label>
									<input type="checkbox" />
									Remember me 
								</label>
							</div>
						</form>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<form action="my-account.html#">
							<div class="form-fields">
								<h2>Register</h2>
								<p>
									<label>Email address</label>
									<span class="required">*</span>
									<input type="text" />
								</p>
								<p>
									<label>password</label>
									<span class="required">*</span>
									<input type="text" />
								</p>
							</div>
							<div class="form-action">
								<input type="submit" value="Register" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- my-account-end -->
		<!-- brand-area-start -->
		<div class="brand-area">
			<div class="container">
				<div class="row">
					<div class="brands">
						<div class="brand-carousel">
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/1.jpg' %}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/2.jpg' %}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/3.jpg' %}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/4.jpg' %}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/5.jpg' %}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/6.jpg' %}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-brand">
									<a href="my-account.html">
										<img src="{% static 'img/brand/7.jpg' %}" alt="" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- brand-area-end -->
		<!-- footer-start -->
		{% endblock %}